.fixed-top-2 {
  margin-top: 56px;
}

body {
  padding-top: 105px;
  background-color: #fff;
}

header,
footer {
  background-color: #232946;
  z-index: 2000 !important;
}

nav {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a,
h4 {
  color: #232946;
}

/*custom search button and input*/
#search-form {
  background-color: #232946;
  color: #fff;
  border: 1px solid #eebbc3;
}

#search-btn,
#search-input,
#search-input::placeholder {
  background-color: #232946;
  border: 1px solid #232946;
  color: #fff;
}

/* custom login form */
.login-form-container {
  margin: 0 auto;
  width: 35%;
}

/* custom input placeholder */
input::placeholder {
  font-size: 14px !important;
}

/* custom all butttons */
.form-btn {
  color: #232946 !important;
  font-weight: bold !important;
  border-color: #eebbc3 !important;
  background-color: #eebbc3 !important;
}

/* custom icons color */
i {
  color: #b8c1ec;
}

/* custome buttons in product page */
.card button:first-of-type {
  color: #232946;
  background-color: #b8c1ec;
}

.card button:nth-of-type(2),
.card button:nth-of-type(3) {
  color: #232946;
}

/* custom style in cart page */
.btn-checkout {
  color: #232946;
  background-color: #b8c1ec;
}

.table td {
  border-top: 1px solid #b8c1ec;
}

.table thead th {
  border-top: 1px solid #b8c1ec;
  border-bottom: 1px solid #b8c1ec;
}

.table-hover > tbody > tr:hover {
  background-color: #fff; /* Assuming you want the hover color to be white */
}
